/* product lists */
.wishlist-products {
  height: 70vh;
  overflow-y: scroll;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 37.5em) {
  .wishlist-products {
    height: auto;
  }
}
