/* main section */
.products {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.message > p > .btn-link {
  text-decoration: underline;
  color: var(--primary-color);
}

@media screen and (max-width: 37.5em) {
  .cart.cart-mobile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
  }

  .grid-2-col{
    display: flex;
    flex-wrap: wrap;
  }
}