/* main section */
.products {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 70vh;
  overflow-y: scroll;
}

.message > p > .btn-link{
  text-decoration: underline;
  color: var(--primary-color);
}