/* card */
.product-card {
  width: 14rem;
}

.card-header {
  flex-direction: column;
}

.inwishlist-true {
  color: var(--primary-color);
}

.inwishlist-false {
  color: var(--gray-color);
}

.card-desc {
  width: 14rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-price-section {
  display: flex;
  gap: 1.5rem;
}

.btn-secondary,
.btn-primary,
a {
  width: 100%;
}

.card-header:hover {
  background: none;
}
