.category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.home-hero-section {
  background-image: linear-gradient(var(--image-grayout), var(--image-grayout)),
    url("https://images.unsplash.com/photo-1507680576301-98c2029cf434?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  min-height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
}

.hero-disc {
  max-width: 30rem;
  flex-direction: column;
}

.btn-shop {
  width: inherit;
}
