/* sidebar */
.sidebar {
  height: 85vh;
  overflow-y: scroll;
  border-right: 1px solid var(--secondary-color);
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.filter-header {
  justify-content: space-between;
}

.filter-header .btn-link {
  text-decoration: underline;
}

@media screen and (max-width: 37.5em) {
  .sidebar {
    display: none;
  }

  .mobile-sidebar {
    display: block;
    position: absolute;
    bottom: 10%;
    background-color: var(--primary-bg);
    z-index: 1;
    width: 100%;
    height: 50vh;
    padding: 0 1rem;
    overflow-y: scroll;
  }
}
