/* price card */
.flex-between {
  display: flex;
  justify-content: space-between;
}

.card-footer {
  justify-content: center;
  align-items: center;
}

.price-card {
  width: 20rem;
}

.card-header:hover {
  background: none;
  cursor: auto;
}

.checkout {
  text-align: center;
}
