header {
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
}

.header {
  display: flex;
  align-items: center;
  gap: 1em;
}

.menu {
  display: none;
  cursor: pointer;
}

.nav-right {
  padding-right: 2rem;
}

.badge-icon-wrapper {
  font-size: 1.2rem;
}

.badge-icon {
  font-size: 1rem;
}

@media screen and (max-width: 37.5em) {
  .header-brand > a {
    font-size: 2rem;
  }

  .nav-right {
    display: none;
  }

  .menu {
    display: block;
  }
}
